<%- include('./partials/header.ejs') %>
<h1> Inventory </h1>

<!-- header -->

<% for (let i = 0; i < items.length; i++){ %>
  <h3>Item: <%=items[i].name%></h3>
  <%if (items[i].qty > 0) {%>
    <p>Quantity: <%=items[i].qty%></p>
    
  <%} else {%>
    <p>Quantity: SOLD OUT</p>
  <%}%>


  <%if (items[i].deleted) {%>

    <p>Deletion Reason: <%=items[i].deletionReason%></p>

    <form action="/<%=items[i].id%>/undel?_method=PUT" method="POST">
      <button>Undelete</button>
    </form>
    

  <%} else {%>
    <form action="/<%=items[i].id%>/del?_method=PUT" method="POST">
      <button>Soft Delete</button>
    </form>

  <%}%>

  <form action="/<%=items[i].id%>?_method=DELETE" method="post">
    <button> Hard Delete</button>
  </form>
  <button><a href="/<%=items[i].id%>">View</a></button>
<%}%>

<!-- footer -->

<%- include('./partials/footer.ejs') %>